<section>
  <form [formGroup]="searchParams" (ngSubmit)="onSubmit()" class="content">
    <h1 tabindex="0" class="title">Buscar por conjunto de cartas</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input color="primary" formControlName="name" matInput placeholder="Ex. Khans of Tarkir" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Block</mat-label>
      <mat-select formControlName="block">
        @for (block of blockOptions; track block) {
        <mat-option [value]="block">{{ block }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button class="search_button">BUSCAR</button>
  </form>
</section>
