main {
  min-height: 100%;
  background-color: #fafafa;
  padding-bottom: 2rem;
}

footer {
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  width: 100%;
  background: #fafafa;

  a {
    color: #353535;
  }
}
