.empty_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.empty_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;

  .icon {
    transform: scale(2.5);
    margin: auto;
    margin-bottom: 1rem;
    color: #c4c4c4;
    text-align: center;
  }
}


.empty_button {
  width: 10rem;
  height: 2.5rem;
  background: #fff;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  transition: 400ms;
  margin: auto;

  &:hover {
    filter: brightness(0.9);
  }
}
